<ion-header>

  <ion-navbar>
    <ion-title>Class Room Builder</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-list row>
    <ion-item item-left>
      <ion-label>Klasse</ion-label>
      <ion-select *ngFor="let class of classes"></ion-select>
      <ion-option>{{class}}</ion-option>
    </ion-item>
    <ion-item item-right>
      <button (click)="getStudent()" ion-button item-right>students</button>
      <button (click)="postStudent()" ion-button item-left>class</button>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <button (click)="addStudent()" ion-button full>Schüler hinzufügen</button>
    </ion-item>
  </ion-list>
  <ion-list *ngFor="let student of students">
    <ion-item>
      <ion-avatar item-left>
        <ion-icon name="images"></ion-icon>
      </ion-avatar>
      <h2>{{student.fname}}, {{student.lname}}</h2>
      <p>{{student.class}}</p>
    </ion-item>
  </ion-list>
<button (click)="goToStudent()" ion-button full>Schüler</button>
</ion-content>