<ion-list>
  <ion-item>
    <ion-label>Vorname</ion-label>
    <ion-input type="text" [(ngModel)]="_fname"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Nachname</ion-label>
    <ion-input type="text" [(ngModel)]="_lname"></ion-input>
  </ion-item>
  <ion-item>
    <input type="file" accept="image/*" id="fileInput" (change)="loadPicture()"/>
  </ion-item>
  <!-- Drop Down for Class? -->
  <ion-item>
    <button (click)="addNewStudent()" ion-button >Hinzufügen</button>
  </ion-item>
</ion-list>