<div>
  {{text}}
</div>
<ion-list>
  <ion-item>
    <ion-label>Vorname</ion-label>
    <ion-input type="text" [(ngModel)]="_fname"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Nachname</ion-label>
    <ion-input type="text" [(ngModel)]="_lname"></ion-input>
  </ion-item>
  <ion-item>
    <input type="file" accept="image/*" id="upload" />
  </ion-item>
  <!-- Drop Down for Class? -->
    <ion-item item-left>
      <ion-label>Klasse</ion-label>
      <ion-select *ngFor="let class of classes"></ion-select>
      <ion-option>{{class}}</ion-option>
    </ion-item>
</ion-list>